a{
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.container-fluid{
  background: #fff;
}
.navbar-brand img{
  height: 35px;
  margin-top: -5px;
}
.img-blur{
  width: 100%;
  height: 100%;
  background: #ff000021;
  position: absolute;
  z-index: -1;
}
img.bg-blur{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
}

.form-search {
  margin-left: 125px;
}

.form-search .search-btn {
    padding: 8px;
    font-size: 16px;
    margin-left: -2px;
}

.form-search input.form-control{
  width: 427px;
}
ul.links{
  margin-left: 46px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
   background-color: #fe3c473b;
 }

 #logout:hover,
 .btn-default:hover{
   background-color: #fe3c473b;
 }

 .table{
  background: #fcfcfc99;
  
 }

 .table caption {
   color: #FFF;
   font-size: 26px;
   text-align: center;
   background: #ff000017;
}

h2.empty-table{
 color: #FFF;
 margin-left: 4%;
 margin-top: 5%;
}